.photos {
  height: 8rem;
  width: 8rem;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px;
}

.cartItem-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 5%;
}

.cartItem {
  width: 250px !important;
  height: 400px;
  margin-bottom: 30px;
  margin-top: 90px;
  margin-left: 1em;
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 10px #202020;
          box-shadow: 0.5px 0.5px 10px #202020;
}

.detalle {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonCarrito {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fotodetalle {
  height: 10rem;
  width: 10rem;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 360px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  -webkit-box-shadow: 0.5px 0.5px 10px #a80707;
          box-shadow: 0.5px 0.5px 10px #a80707;
}

.VaciarCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 100px;
  left: 400px;
}

.cart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 360px;
  width: 200px;
  top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descrip {
  font-size: 1em;
}

.borrarItem {
  position: relative;
  left: 140px;
  bottom: 90px;
  width: 2em;
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
}

.prodcart {
  font-size: 2em;
}

.seguircomprando {
  position: relative;
  left: 100px;
  top: 62px;
}

.orden {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comprar {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.terminar {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seguir {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f413f;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*# sourceMappingURL=styles.css.map */